$green: #1DB954;
$greenhover : rgba(29,185,84,0.8);
$secondary-color: #272727;

html {
    font-size: 18px;
    font-family: "Gotham";
    scroll-behavior: smooth;
}
html * {
    font-family: "Gotham";
}
body {
    padding: 0;
    margin: 0;
}

a {
    transition: 0.5s;
}

a:hover {
    text-decoration: none !important;
}

.bg-green {
    background-color: $green;
}
.fw-700 {
    font-weight: 700;
}