@media (max-width: 1200px) {
    .login-box-wrapper {
        .login-box-single {
            min-height: 50vh !important;
        }
    }
}

@media (max-width: 992px) {
    .login-box-wrapper {
        border-radius: 0px !important;
        .login-box-single {
            min-height: 100vh !important;
        }
    }
    .cursor-md-pointer {
        cursor: pointer;
    }
    .searchbar__container input {
        margin-left: 20px;
    }
    .single-artist-page .single-artist-item .artist-img {
        padding-top: 60% !important;
    }
}
@media (max-width: 768px) {
    .single-artist-item .artist-img {
        padding-top: 70% !important;
    }
    .album-single .album-img {
        padding-top: 50% !important;
    }
}

@media (max-width: 576px) {
    .side_menu {
        max-width: 300px;
    }
    html {
        font-size: 16px !important;
    }
    h2 {
        font-size: 1.7rem !important;
    }
    .searchbar__container {
        height: 50px;
        display: flex;
        margin-top: 10px;
        align-items: center;
        // justify-content: center;
        padding: 0 9px;

        .logo {
            width: 40px !important;
        }

        input {
            height: 40px !important;
            margin-left: 10px;
            max-width: 200px;
        }
    }
    .loader {
        .logo {
            width: 60px !important;
        }
    }
    .single-artist-item .artist-info h2 {
        font-size: 1.2rem !important;
    }
    .artist-search-page .single-artist-item .artist-img {
        padding-top: 80% !important;
    }
}
